/* color chart for my website */
/* 
#6D7cff  	
#FC52FF
#ffffff
#1E2022
#a0aaff
#3a4eff
#aaabab
 */



*{box-sizing: border-box;
margin: 0;
padding: 0;}


/* header styling */

#header{
	margin: auto;
  display: flex;
  background:#1E2022;
  align-items: center;
  text-align: center;
	position:fixed;
	top: 0;
	left: 0;
	right: 0;

	
}

#nav{
	display:flex;
  justify-content: flex-end;
	height: 2em;
	padding: 0;
	width:60vw;
	gap:1.5em;
	min-width: 450px;
	margin-left: 10em;
}
.links:hover{
color:#6D7cff
}


#logo{
	height: 90px;;
	width: 110px;
	margin-left: 7em;
}

.links{
text-decoration: none;
font-size: x-large;
color: white;
}


/* main area index page */
main{display: block;
min-height: 100vh;
margin-top:90px;}


#interests{
  display: block;
  font-size: 2em;
  overflow-wrap: normal;
  text-align: center;
  width: 50vw;
  margin: auto;
  padding:1.5em 0;

}


#quote{
display:block;
  text-align: right;
font-family: cursive;
 font-size:2em ;
 font-weight: 500;
 padding-bottom: 1em;
 overflow-wrap: normal;
 width: 240px;
 margin-left:calc(100vw - 300px)
 
}

#title-index{text-align: center;
 padding-top:2em;
text-align: left;}




/* about page css */
#about{
	background-color: #aaabab;
}

#title-about{
  text-align: center;
  color: black;
  margin-top: 0;
  padding-top: .5em;
}

.pic{
height: 8em;
width: 8em;
float: left;
margin: .5em;
padding: 0 .5em .5em 0; 

}

.pic-portfolio{
  height: 10em;
  width: 10em;
  margin: .5em;
}

.container{
  display: flex;
  width: 70%;
  margin: auto;
  height: 20em;
}

.title-portfolio{
  text-align: center;
}
#container {
width: 80%;
margin: auto;
padding-bottom: 12rem;

}

.about{
  font-size: 1.5em;
  font-display:unset;
}

h2{ padding-left: 1em;
font-weight: 800;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}


/* portfolio section */
#portfolio{
	background-color: #a0aaff;
}


/* contact section */

#contact{
	display: flex;
	flex-direction: row;
}

form{
display: flex;
flex-direction: column;
align-items: left;
margin: 2% 10%;
width: 25vw
}

#personalpic{
	width:25vw;
	margin: auto;
}
/* 
footers start */


a.white {
	color: rgb(19, 226, 54);
}

a.white:hover {
	color: red;
}

#footers {
	background-color: black;
	height:8em;
	
  position:sticky;
  width: 100%;
 
}
/* SOCIAL MEDIA ICONS */
#socialMediaContainer {
	display: flex;
	justify-content: center;
	max-width: 100%;
	margin: auto;
	min-height: 6rem;
	padding-top: 1rem;
}

div.socialMediaIcons a {
	margin: 0;
	padding: 0;
	border: 0;
}
div.socialMediaIcons {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 5px;
	min-width: 2rem;
	max-width: 4rem;
	min-height: 2rem;
	max-height: 4rem;
}

div.socialMediaIcons i {
	/* max-width: 4rem;
	max-height: 4rem; */

  padding-top: .5rem;
	min-width: 4rem;
	min-height: 4rem;
	text-align: center;
}

#facebook {
	background-color: #3b5998;
	color: white;
}

#linkedin {
	background-color: #0e76a8;

	color: white;
}

#twitter {
	background-color: #00acee;
	color: white;
}

#github {
	background-color: #211f1f;
	color: white;
}

#instagram {
	color: white;

	background: radial-gradient(
			circle farthest-corner at 35% 90%,
			#fec564,
			transparent 50%
		),
		radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
		radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
		radial-gradient(
			ellipse farthest-corner at 20% -50%,
			#5258cf,
			transparent 50%
		),
		radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
		radial-gradient(
			ellipse farthest-corner at 60% -20%,
			#893dc2,
			transparent 50%
		),
		radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
		linear-gradient(
			#6559ca,
			#bc318f 30%,
			#e33f5f 50%,
			#f77638 70%,
			#fec66d 100%
		);
}
/* TODO: fix the ordering of everything to make it easier to read */

.scale:hover {
	transform: scale(1.15);
}

#footerTag {
	color: white;
	text-align: center;
}

/* footer legal like linlks*/

/* TODO:make this so its more in local*/
a.white:link {
	text-decoration: none;
}
/* 
a.white:visited {
	color: yellow;
} */




/* END of FOOTER */

/* @media less then 666 { 
  
  make the font size normal*/
  